<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.smartpromos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".smartpromosapplication.SmartPromosApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/gmaps_id" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.RememberPasswrodActivity" />

        <activity
            android:name=".ui.activity.LocationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".ui.activity.DashBoardActivity"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".ui.activity.LocaleCustomerActivity"
            android:screenOrientation="portrait" ></activity>

    </application>

</manifest>
